target
shared/target
client/target
driver/target

shared/Cargo.lock
client/Cargo.lock
driver/Cargo.lock

driver/src/backup
client/src/modules/memory.rs
driver/src/misc/memory.rs
driver/src/port
backup