[package]
name = "common"
version = "0.1.0"
edition = "2021"

[dependencies]
ntapi = { version = "0.4.1", default-features = false }
windows-sys = { version = "0.52.0", features = ["Win32_System_Kernel"] }
